@font-face {
    font-family: "Exo2";
    src: url("/public/fonts/Exo2Regular/Exo2Regular.eot");
    src: url("/public/fonts/Exo2Regular/Exo2Regular.eot?#iefix")format("embedded-opentype"),
    url("/public/fonts/Exo2Regular/Exo2Regular.woff") format("woff"),
    url("/public/fonts/Exo2Regular/Exo2Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Exo2";
    src: url("/public/fonts/Exo2Bold/Exo2Bold.eot");
    src: url("/public/fonts/Exo2Bold/Exo2Bold.eot?#iefix")format("embedded-opentype"),
    url("/public/fonts/Exo2Bold/Exo2Bold.woff") format("woff"),
    url("/public/fonts/Exo2Bold/Exo2Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Exo2";
    src: url("/public/fonts/Exo2Medium/Exo2Medium.eot");
    src: url("/public/fonts/Exo2Medium/Exo2Medium.eot?#iefix")format("embedded-opentype"),
    url("/public/fonts/Exo2Medium/Exo2Medium.woff") format("woff"),
    url("/public/fonts/Exo2Medium/Exo2Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Exo2SemiBold";
    src: url("../fonts/Exo2SemiBold/Exo2SemiBold.eot");
    src: url("../fonts/Exo2SemiBold/Exo2SemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2SemiBold/Exo2SemiBold.woff") format("woff"),
    url("../fonts/Exo2SemiBold/Exo2SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}


@font-face {
    font-family: Exo2;
    src: url(/public/fonts/Exo2Light/Exo2Light.woff);
    font-weight: 300;
}

@font-face {
    font-family: Exo2;
    src: url(/public/fonts/Exo2ExtraBold/Exo2ExtraBold.woff);
    font-weight: 900;
}

html, body{padding: 0; margin: 0; font-family: Exo2; color: #424242; font-size: 16px;}
img{max-width: 100%; max-height: 100%}
h1{font-weight: 700; font-size: 3em; text-align: center; text-transform: uppercase;}
h1.left{text-align: left;}
h2{font-size: 2.25em; text-align: center; text-transform: uppercase; }
h2.underline{font-size: 1.875em; margin-bottom: 40px; font-weight: 700; position: relative; text-align: left;}
h2.underline:after{content: ''; width: 100px; height: 0; position: absolute; bottom: -20px; left: 0;
    border-bottom: 2px solid #88241e;}
@media all and (max-width: 767px) {
    h1.left{text-align: center;}
    h2.offset-sm{margin-left: 10%; margin-right: 10%;}
}

/*.container3{max-width: 1920px; width: 90%; margin: auto;}*/
.container2{max-width: 1712px; width: 90%; margin: auto;}
.container{max-width: 1140px; width: 90%; margin: auto;}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container:after, .container:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before,  .row:after, .row:before {
    display: table;
    content: " ";
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-sm-12 { width: 100%;}
.col-sm-11 { width: 91.66666667%;}
.col-sm-10 { width: 83.33333333%;}
.col-sm-9 { width: 75%;}
.col-sm-8 { width: 66.66666667%;}
.col-sm-7 {  width: 58.33333333%;}
.col-sm-6 { width: 50%;}
.col-sm-5 { width: 41.66666667%;}
.col-sm-4 { width: 33.33333333%;}
.col-sm-3 { width: 25%;}
.col-sm-2 { width: 16.66666667%;}
.col-sm-1 { width: 8.33333333%;}

@media all and (max-width: 767px) {
    .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8 , .col-sm-7,
    .col-sm-6, .col-sm-5, .col-sm-4,  .col-sm-3 , .col-sm-2, .col-sm-1 { width: 100%; float: none;}
}
a{text-decoration: none; color: inherit;}

/*icon*/
.ico{width: 32px; height: 32px; display: inline-block; background: no-repeat left top}
.ico.social{margin-left:12px;}

.social-color-bw .ico.social{margin-left:12px; cursor: pointer; width: 36px; height: 36px; background-image:url("/public/img/social-color-bw.png"); }
.social-color-bw .ico.social.vk{background-position: -8px -7px;}
.social-color-bw .ico.social.fb{background-position: -59px -7px;}
.social-color-bw .ico.social.ub{background-position: -110px -7px;}
.social-color-bw .ico.social.inst{background-position: -162px -7px;}
.social-color-bw .ico.social.vk:hover{background-position: -8px -50px;}
.social-color-bw .ico.social.fb:hover{background-position: -59px -50px;}
.social-color-bw .ico.social.ub:hover{background-position: -110px -50px;}
.social-color-bw .ico.social.inst:hover{background-position: -162px -50px;}

.ico.phone{background-image: url("/public/img/icon_phone.png");}
/*icon-end*/

/*menu*/

.top-main-menu.fixed{width: 100%; position: fixed; left: 0; top: 0; background: #ffffff; z-index: 1111;}
.top-main-menu.fixed:after{content: ''; width: 100%; height: 100%; box-shadow: 0 0 30px -5px #424242; position: absolute; top: 0; left: 0; z-index: 5;}

.main-top-line{background: #505050; color:#fff; min-height: 50px; position: relative }
.main-top-line_col-scroll, .main-top-line_col-info{float: left;}
.main-top-line_col-scroll{width: 60%; width: calc(100% - 430px)}
.main-top-line_col-info{width: 40%; width: 430px;}
.main-top-line .social{display:inline-block; vertical-align: sub;}
.main-top-line .ico.phone{display:inline-block; vertical-align: middle;}
.main-top-line a{color: #fff;}
.main-top-line .phone-block, .main-top-line .social-block{display: inline-block;}
.main-top-line .phone-block{font-size: 1.325em; font-weight: 700; vertical-align: middle;}
.main-top-line .social-block{vertical-align: middle; margin: 8px 0}
.navbar-menu {  position: relative; min-height: 80px;  width: 100%;  z-index: 1111; color: #fff; }
.navbar-left{display: inline-block; float: left;}
.logotype{margin-top: 17px; width: 286px;}
.logotype img{width: 210px;}

.nav ul{padding: 0; margin: 0; }
.nav li{cursor: pointer; transition: 0.5s; -webkit-transition: 0.05s linear;}
.nav > li{position: relative; display: inline-block; padding: 30px 10px;}
.nav li>a {
    font-size: 0.875em; padding: 0; font-weight: bold; text-align: center; color: #88241e; display: inline-block;
    text-decoration: none; text-transform: uppercase; white-space:nowrap; position: relative;
}
.nav .nav-arrow{ display: inline-block; width: 20px; height: 13px; }
.nav .nav-arrow:after{content: ''; position: absolute; width: 14px; height: 18px; background: no-repeat center;
    background-image: url(/public/img/ico/menu-icon-red.svg); fill: #88241e; transition: 0.5s}
.nav li:hover .nav-arrow:after{transform: rotate(180deg);}
.nav li>a.active:before{content: ''; width: 100%; height: 0; border-bottom: 2px solid #88241e; position: absolute; bottom: -5px; left: 0; right: 0; margin: auto;}
.nav li>a:focus, .nav li>a:hover { }
.navbar-menu .navbar-toggle{display: none;}

.nav_right_block{float: right;}
.nav_right_block li{padding: 0;}

.nav li.trading-platforms{display: block; border: 2px solid #88241e; line-height: 46px; color: #424242; padding: 0 30px;
    margin-top: 15px; border-radius: 23px;}
.nav li.trading-platforms:after{  background-image: url(/public/img/ico/menu-icon.svg); top:15px;}
.nav li:hover {color:rgba(136, 36, 30, 0.7); }

.nav li.trading-platforms ul{ margin-top: -20px;}
.nav li.trading-platforms ul:after,
.nav li.trading-platforms ul:before{content: ''; display: none; position: absolute; top: -16px; right: 20px;
    width: 0;height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
}
.nav li.trading-platforms ul:before{border-bottom: 16px solid #d7d7d7; top: -17px;}
.nav li.trading-platforms ul:after{border-bottom: 16px solid #fff;}
.nav li.trading-platforms:hover ul:after,
.nav li.trading-platforms:hover ul:before{display: block;}

.nav{padding: 0; margin: 0; position: relative}
.nav ul{ list-style:none; border: 1px solid #d7d7d7; box-shadow: 0 5px 10px #888888; position:absolute; top:70px; left:-9999px; opacity:0;  -webkit-transition:0.25s linear opacity;}
.nav ul li{background-color: #fff; display: block; min-width: 185px; }
.nav ul a{color: #777; display:block; padding: 30px 20px; text-align: left; border-bottom: 1px solid #ededed;
    line-height: 1; text-decoration:none; -webkit-transition:-webkit-transform 0.075s linear; }
.nav li:hover ul{ left:0;  opacity:1;}
.nav li:hover ul li:hover{  background-color:#d7d7d7;}

@media all and (min-width: 1145px) and (max-width: 1280px){
    .logotype{width: 220px;}
    .nav li.trading-platforms{padding: 0 15px;}
}

@media all and (max-width: 1145px) {
    .top-main-menu .container2{width: 100%;}
    .main-top-line_col-scroll, .main-top-line_col-info{float: none; width: 100%; }
    .main-top-line_col-info.right{text-align: center;}
    .logotype{margin-left: 5%;}
    .navbar-menu .navbar-nav, .nav_right_block{float: none; width: 100%;}
    .navbar-menu .navbar-collapse{ display: none; margin-top: 20px; margin-bottom: 20px; transition: 0.5s}
    .navbar-menu .navbar-collapse.xs-opened{display: block;}
    .navbar-menu .navbar-toggle {
        width: 40px; height: 40px; display: block; background: rgba(0, 0, 0, 0.5);
        border: 1px solid #fff; border-radius: 0;
        position: absolute; right: 25px; top: 20px;}
    .navbar-menu .navbar-toggle span{ border-bottom: 1px solid #fff;
        position: absolute; width: 70%; top: 11px; left: 15%; display: block; height: 1px; }
    .navbar-menu .navbar-toggle span:before, .navbar-menu .navbar-toggle span:after{content: ''; position: absolute; border-top: 1px solid #fff; width: 100%; left: 0;}
    .navbar-menu .navbar-toggle span:before{top: 8px;}
    .navbar-menu .navbar-toggle span:after{top:16px;}
    .navbar.navbar-left{ width: 100%; }
    .navbar-menu li{display: block;}
    .nav > li{display: block; width: 100%; padding: 0;}
    .nav li.arrow>a:after{height: 14px;}
    .nav li a{padding: 20px 0; display: block; text-align: center; border-top: 1px solid #88241e; position: relative; }
    .nav ul{ position: relative; opacity: 1; top: 0; display: none; box-shadow: none;}
    .nav li.mobile-open ul{ display: block; left: 0;}
    .nav li:hover .nav-arrow:after{transform:none;}
    .nav li.mobile-open .nav-arrow:after{transform: rotate(180deg);}

    .nav ul a{padding: 10px 0; border-color: #ccc;}
    .navbar-menu .container{width: 100%;}
    .nav li.trading-platforms{border-radius: 0; border-width: 1px 0; width: auto; margin-top: 0; padding: 0;}
    .nav li.trading-platforms > a{padding: 0; border: none; line-height: 52px; }
    .nav li.trading-platforms:hover ul:before, .nav li.trading-platforms:hover ul:after{content: none;}
    .nav li.trading-platforms ul{margin: 0;}
    .nav li>a.active:before{content: none;}
    .nav li>a.active{background-color: #eddddd}
    .nav .nav-arrow{position: absolute; height: 50px; margin-top: 2px; width: 40px; right: 0; top:0; border-left: 1px solid #88241e;}
    .nav .nav-arrow:after{top:30%; left: 15px;}
}

/*menu-end*/

/*all-blocks*/
.h1{font-weight: bold; font-size: 2.25em; color: #424242; text-transform: uppercase;}
.h1 > .un-upp{text-transform: none;}
.h2{font-weight: 700; font-size: 1.125em; color: #424242;}
.article.dark .h1{color: #fff;}  .article.dark .h2, .article.dark ul.underline li,
.article.dark{color: #fff;}
.center{text-align: center; margin: auto;}

ul.underline {margin: 20px 0; padding: 0;}
ul.underline li{font-weight: 500; margin-top: 10px; cursor: pointer; padding-left: 35px; font-size: 1.125em; color: #424242; list-style: none;}
ul.underline li > span{position: relative; padding: 5px 10px 5px 0; line-height: 1.7em}
ul.underline li > span:hover{color: #fff; background: #88241e;}
ul.underline li > span:hover:after{height: 100%; top: 0; background: #88241e; border: none; padding-right: 3px;}
ul.underline li > span:after{ content: ''; position:absolute; width: 32px; top:1em; left: -35px; border-bottom: 2px solid #88241e;}
.article.dark ul.underline li > span:hover{color: #88241e; background: #fff;}
.article.dark ul.underline li > span:hover:after{ background: #fff;}
.article.dark ul.underline li > span:after{border-color: #fff;}

.button-holder label{font-weight: 500; height: 32px; font-size: 18px; line-height: 32px; text-transform: uppercase;}
.regular-radio { -webkit-appearance: none; margin: 0;
    border: 2px solid #fff; padding: 14px; border-radius: 50px; display: inline-block; position: relative; outline: none;
}
.regular-radio:checked:after {
    content: ' '; width: 15px; height: 15px; border-radius: 50px; position: absolute; top: 7px;
    background: #88241e; left: 7px;
}
.button-holder .regular-radio, .button-holder span{display: inline-block; margin-right: 5px; vertical-align: bottom;}
.regular-checkbox { -webkit-appearance: none; margin: 15px 0;
    background-color: #fff; border: none; vertical-align: middle;
    padding: 9px; border-radius: 3px; display: inline-block; position: relative;}
.regular-checkbox:active, .regular-checkbox:checked:active {
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.1);}

.regular-checkbox:checked { border: none;
    box-shadow: inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
.regular-checkbox:checked:after {
    content: '\2714'; font-size: 14px; position: absolute; top: 0px; left: 3px; color: #99a1a7;}

.btn{border: 2px solid #88241e; background: transparent; cursor: pointer; border-radius: 0 20px 0 20px; color: #88241e; padding: 13px 30px;
    font-size: 16px; font-weight: 900; margin: 20px 0; display: inline-block; position: relative;
    text-transform: uppercase; box-sizing: border-box; max-width: 100%;
    behavior: url("/public/PIE-1.0.0/PIE.htc");
}
.btn:hover{background-color: #88241e; color: #fff;}
.article.dark .btn{color: #fff; border-color:#fff;}
.article.dark .btn:hover{background: #fff; color: #88241e;}

.btn-oval{border-radius: 25px;}
.btn-arrow{padding-right: 80px;}
.btn-arrow:after{content: ''; position: absolute; top: 40%; right: 20px; width: 45px; height: 15px;
    background: url("/public/img/color-arrow.png") top left no-repeat; background-position: 0 -18px;}
.btn-arrow:hover:after{background-position: 0 0;}
.article.dark .btn-arrow:after{background-position: 0 0;}
.article.dark .btn-arrow:hover:after{background-position: 0 -18px;}

.control{border-radius: 2px; border: none; display: block;}
.search-input{padding: 20px; width: 390px; max-width: 90%; border-radius: 25px; background-image: url("/public/img/search_icon.png"); background-position: 95% center; background-repeat: no-repeat;}
.mail-input{padding: 20px; width: 390px; max-width: 90%; border-radius: 25px; }

.main-page-blocks > .article{width: 50%; margin: 0 -1px; display: inline-block;}
.main-page-blocks .btn{padding-top: 20px; padding-bottom: 20px;}

.main_blocks_first{position: relative;}
/*.main_blocks_first:before{content:''; box-sizing: border-box; border-right: 10px solid #fff; display: block; width:50%; height: 100%; top: 0; left: 0; position: absolute; background: url(/public/img/bg/bg_point.png) repeat;}*/
.main_blocks_first .container2:after{content:''; z-index: -1; box-sizing: border-box; border-right: 10px solid #fff; display: block; width:50%; height: 100%; top: 0; left: 0; position: absolute; background: url(/public/img/bg/bg_point.png) repeat;}
.main_blocks_first .container2{position: relative;}
.main_blocks_first .container2:before{content:''; display: block; width:50%; height: 100%; top: 0; right: 0;
    position: absolute; background: url(/public/img/bg/bg_art2.jpg) no-repeat; background-size: cover; border-radius: 0 75px 0 0;}
.main_blocks_first .container{position: relative;}
/*.main_blocks_first .container:before{content:''; display: block; width:444px; height: 100%; bottom: 0; left: -375px;*/
    /*position: absolute; background:url("/public/img/top_people.png") no-repeat right bottom; background-size: contain;}*/

.article{position: relative; }
.content{padding: 0 14%;}
#art_1{margin-bottom: 40px;}
@media all and (max-width: 767px) {
    .main_blocks_first{background: url(/public/img/bg/bg_point.png) repeat;}
    .art_1_content{width: 90%; margin: auto}
    .list-service_h1{font-size: 2.4em;}
}
#art_1 p{color: #8f8f8f;}
#art_2 .content{padding-right: 0;}

.main_blocks_second{margin-top: 10px;}
.main_blocks_second .container2{position: relative;  }
.main_blocks_second .container2:before{content:''; box-sizing: border-box; border-right: 10px solid #fff; display: block; width:50%; height: 100%; top: 0; left: 0;
    position: absolute; background: url(/public/img/bg/bg_art_3.png) no-repeat; background-size: cover; }
.main_blocks_second .container2:after{content:''; display: block; width:50%; height: 100%; top: 0; right: 0;
    position: absolute; background: url(/public/img/bg/bg_art4.jpg) no-repeat; background-size: cover; z-index: -1 }

p.mainpage-text{ font-size: 1.125em; }
.slick-prev:before, .slick-next:before{content: ''; height: 100%; width: 100%; position: absolute; top: 0; left: 0;
    background: url("/public/img/arrow_slide.png")}
.slick-next:before{transform: scale(-1)}
.slick-prev, .slick-next{height: 72px; width: 32px;}

@media all and (max-width: 767px) {
    .slick-prev {left: -15px;}
    .slick-next {right: -15px;}
}

.main_blocks_third{margin-top: 10px;position: relative;}
.main_blocks_third .container2{position: relative;  }
.main_blocks_third .container2:before, .main_blocks_third .container2:after{content:''; display: block; height: 100%; top: 0;
    position: absolute; background: no-repeat; background-size: cover; }
.main_blocks_third .container2:before{width:60%; left: 0; background-image:url(/public/img/bg/bg_block7.png)  }
.main_blocks_third .container2:after{box-sizing: border-box; border-left: 10px solid #fff; width:40%; right: 0; background-image:url(/public/img/bg/bg_art7.jpg); z-index: -1  }


#art_6, #art_7, #art_9{padding: 3% 0;}

.news-blocks{}
.news-blocks .article{width: 49%; float: left; cursor: pointer;
    -webkit-transition:  0.2s; transition: 0.2s}
.news-block_img{height: 308px; position: relative; width: 100%; background-size: cover; background-repeat:no-repeat; }
.news-block_img.img_1{background-image: url("/public/img/news_1.png");}
.news-block_img.img_2{background-image: url("/public/img/news_2.png");}
.news-block_img.img_3{background-image: url("/public/img/news_3.png");}
.news-block_img .hover{position: absolute; background-color: #88241e; background-color: rgba(218, 45, 41, 0.62); opacity: 0; width: 100%; height: 100%; top: 0; left: 0;
    text-align: center; color: #fff;
    -webkit-transition:  0.2s; transition: 0.2s}
.news-blocks .article:hover .hover{opacity: 1; }
.news-block_img .hover span{display: block; margin: 120px auto 0; font-size: 18px; font-weight: 500; text-transform: uppercase;}
.news-block_img .hover i{width: 40px; height: 25px; background-image: url("/public/img/ico_news.png"); display: block;
    background-repeat: no-repeat; margin: 15px auto;}
.news-block_description{padding: 5%;}
.news-blocks .article.news-block_1 {background: #d7d7d7; color: #424242;}
.news-blocks .article.news-block_2 {background: #424242; color: #fff;}
.news-blocks .article.news-block_3 {background: #d7d7d7; color: #424242;}
.news-blocks .article:hover{background: #fff; color: #88241e;}
.news-block_type{width: 40%; display: inline-block; padding-left: 15px; margin: 0; font-size: 1.125em; font-weight: 700;}
.news-block_type:before{content: ''; width: 0; height: 0; border-radius: 50%; border: 4px solid;
    position: absolute; margin-top: 0.4em; margin-left: -14px;}
.news-block_date{ width: 54%; display: inline-block; text-align: right; font-weight: 500; font-size: 15px}
.news-block_title{font-weight: 500; font-size: 20px; height: 50px; overflow: hidden;  text-overflow: ellipsis;}
.news-blocks .article{margin-right: 2%;}
.news-blocks .article:last-child{margin-right: 0;}
.news-blocks .article:hover{box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.25);}

.main_blocks_fourth{position: relative; margin-top: 10px;}
.main_blocks_fourth .container2{position: relative;}
.main_blocks_fourth .container2:before{content:''; box-sizing: border-box; border-left: 10px solid #fff; display: block; width:40%; height: 100%; top: 0; right: 0;
    position: absolute; background: no-repeat center; background-image:url(/public/img/bg/bg_block8.png); background-size: cover; z-index: -1 }

.main_blocks_fourth #art_8{float: left; width: 60%}
.main_blocks_fourth #art_9{float: left; width: 40%}

.mp-bottom-block{background: #d7d7d7; text-align: center; margin-top: 10px; padding-bottom: 40px;}
.control-menu{background: #fff; border-radius: 28px; height: 48px; display: inline-block; padding:  4px; margin: auto;}
.control-menu span{line-height: 48px;  display: inline-block; border-radius: 25px; padding: 0 30px; cursor: pointer;}
.control-menu span.active{color: #fff; background: #88241e;}
.control-menu span:hover{background-color: #ff9997; background-color: rgba(218, 45, 41, 0.2);}
.control-menu span.active:hover {background: #88241e;}

.quotations {margin-top: 40px;}
.quotations_block { width: 16.66666667%; float: left; min-height: 120px;}
.quotations_price span{display: inline-block; color: #424242; font-size: 18px; font-weight: 700; padding-left: 20px; position: relative;}
.quotations_price  span:before{content: ''; position: absolute; width: 0; height: 0; top: 4px; left: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;}
.quotations_price.falling span:before{ border-bottom: 14px solid #88241e;}
.quotations_price.growth  span:before{ border-top: 14px solid #19b5fe;}
.quotations_name{color: #727272;}
.quotations_block{position: relative;}
.quotations_block p{margin: 10px 15px;}
.quotations_block:not(:first-child):before{content: ''; width: 0; height: 100px; border-left: 1px solid #b4b4b4; position: absolute; top: 15px; left: 0;}

@media all and (min-width: 767px) {
    #art_6 .btn{margin-top: 64px;}
    #art_3{padding-bottom: 40px;}
    #art_4 .btn{margin-top: 100px;}
    #art_9 .btn{margin-top: 100px;}
}

@media all and (max-width: 767px) {
    body{font-size: 13px;}
    .h1{text-align: center}
    .btn{display: block; width: 100%; padding: 15px 0; text-align: center;}
    .container2, .main-page-blocks .container{width: 100%}
    .content, .content-sm {padding: 0; max-width: 90%; margin: 20px auto; }
    .main_blocks_first:before{width: 100%; border: none;}
    .main_blocks_first .container2:before, .main_blocks_first .container:before{content:none;}
    .article{padding: 1px 0}
    /*.news-blocks .article .hover { opacity: 1;}*/
    /*.news-block_img{height: 50px; margin-top: 20px;}*/
    /*.news-block_img .hover span{margin: 15px 15px 15px 10%; display: inline-block; float: left;}*/
    /*.news-block_img .hover i{ display: inline-block; float: left;}*/
    .news-block_img.img_1, .news-block_img.img_2{background: #88241e; }
    .news-block_img{position: absolute; width: 100%; height: 100%; left: 0; top: 0; opacity: 0.7 }
    .news-block_img .hover{display: none;}
    .news-block_description{position: relative; padding: 30px 0 0;}
    .news-blocks .article.news-block_1{background-image: url("/public/img/news_1.png"); border-bottom: 1px solid #fff;}
    .news-blocks .article.news-block_2{background-image: url("/public/img/news_2.png");}
    .news-blocks .article.news-block_1, .news-blocks .article.news-block_2{background-size: cover; color: #fff;}
    #art_2{background: url(/public/img/bg/bg_art2.jpg) no-repeat; background-size: cover; padding-bottom: 40px;}
    #art_2 .btn{width: auto;}
    .main_blocks_second, .main_blocks_third{margin-top: 0;}
    .main_blocks_second:before,.main_blocks_second .container2:after,
    .main_blocks_second .container2:before, .main_blocks_fourth .container2:before{content: none}
    #art_3{background-image: url("/public/img/bg/bg_art_3.png"); background-size: cover;}
    #art_4{background-image: url("/public/img/bg/bg_block4.png"); background-size: cover;}
    #art_5{background-color: #d7d7d7;}
    .main_blocks_third .container2:before, .main_blocks_third .container2:after{content: none;}
    #art_6{background-image: url("/public/img/bg/bg_block7.png"); background-size: cover;}
    #art_7{background-image: url("/public/img/bg/bg_art7.jpg"); background-size: cover;}
    #art_9{background-image: url("/public/img/bg/bg_block8.png"); background-size: cover;}
    .main_blocks_fourth{margin-top: 0;}
    .main_blocks_fourth:before{content: none;}
    .news-blocks .article, .main_blocks_fourth #art_8, .main_blocks_fourth #art_9{width: 100%; float: none;}
    .control-menu{height: auto;}
    .quotations_block{width: 50%; min-height: 140px;}
    .mp-bottom-block{margin: 0;}
    .mp-bottom-block .h1{max-width: 90%; margin: 40px auto 0;}
}

/*all-blocks-end*/

.modalclose{ position: absolute; top: 15px; right: 15px; border: none;  cursor: pointer; width: 20px; height: 20px;
    background: no-repeat center; background-image: url(/public/img/ico/close.png); background-image: url(/public/img/ico/icon_close.svg); background-size: cover; }

.page_footer{background: #505050; color: #8f8f8f;}
.page_footer a{color: #fff; text-decoration: underline;}
.page_footer .footer_top_block{display: table; width: 100%; padding: 40px 0; border-bottom: 1px solid #424242;}
.page_footer .footer_top_block .logo{ display:block; width: 207px; height: 50px;}
.page_footer .footer_top_block .logo img{max-width: 100%; max-height: 100%;}
.page_footer .footer_top_block >div{display: table-cell; vertical-align: middle; }
.page_footer .footer_top_block p{margin: 0 30px; color: #fff; }
.page_footer .footer_address, footer .footer_email {height: 50px; vertical-align: bottom;}
.page_footer .footer_bottom_block{text-align: center}
.social-color .ico.social{margin-left:12px; cursor: pointer; width: 36px; height: 36px; background-image:url("/public/img/social-color.png"); }
.social-color .ico.social.vk{background-position: -8px -7px;}
.social-color .ico.social.fb{background-position: -59px -7px;}
.social-color .ico.social.ub{background-position: -110px -7px;}
.social-color .ico.social.inst{background-position: -162px -7px;}
.social-color .ico.social.vk:hover{background-position: -8px -50px;}
.social-color .ico.social.fb:hover{background-position: -59px -50px;}
.social-color .ico.social.ub:hover{background-position: -110px -50px;}
.social-color .ico.social.inst:hover{background-position: -162px -50px;}
@media all and (max-width: 767px) {
    .footer_top_block img{margin-left: 30px;}
    .page_footer .footer_address{margin: 20px 0;}
    .page_footer .footer_top_block >div {display: block;}
    .page_footer .footer_top_block p{text-align: center}
    .page_footer .footer_top_block .social-color{text-align: center; margin: 20px auto 0;}
    .page_footer .footer_top_block .logo{margin: auto;}
}

/* form */
.form_block{ background: #f5f5f5;}
.form_block form {width: 750px; max-width: 90%; margin: auto; text-align: center;}
.form_block .title{font-weight: bold; font-size: 1.875em;}
.form_block p{font-size: 1.125em; color: #747474;}
.form_block .control{ margin-bottom: 30px;}
.form_block input, .form_block textarea{display: block; background: #f5f5f5; box-sizing: border-box;  width: 100%; border: 1px solid #747474; padding: 15px;}
.form_block form >.col-sm-6.control:nth-of-type(2n) .offset{margin-right: 15px}
.form_block form >.col-sm-6.control:nth-of-type(2n+1) .offset{margin-left: 15px}
.form_block input[type=checkbox]{    background: #ccc; width: auto; padding: 10px; color: #2e2e2e;}
.form_block input[type=checkbox]:checked{border: 1px solid #747474;}
.form_block input[type=checkbox]:after {top: 2px;left: 5px; color: #424242;}
.form_block label .checkbox_txt{width: 90%; margin: 0; display: block; float: left;}
.form_block label .checkbox_input{float: left; width: 10%;}
.form_block .btn{margin: 0;}
.left{text-align: left;}
.right{text-align: right;}
@media all and (max-width: 767px) {
    .form_block form >.col-sm-6.control:nth-of-type(n) .offset{margin: 0;}
    .form_block .control { margin-bottom: 20px; }
}
/* form-end */
/*@media all and (min-width: 1200px) {*/
    /*.container2 .offset-left-menu{margin-left: 286px;}*/
/*}*/
@media all and (max-width: 1200px) {
    .container2 .offset-left-menu{width: 90%; margin: auto; text-align: center;}
    .container2 .offset-left-menu h1{text-align: center;}
}

/* catalog */
.catalog-slider-top{background-image: url("/public/img/bg/bg_catalog.png"); background-size: cover; color: #fff;}

.tab-menu, .tab-menu li{margin:0; padding: 0; list-style: none}
.tab-menu li{display: inline-block; cursor: pointer; padding: 20px 40px; border-radius: 20px 20px 0 0;}
.tab-menu li.active{background: #fff; color: #424242;}
.tab-menu li:hover{background: #747474; background: rgba(255,255,255,0.4) }
@media all and (max-width: 980px) {
    .tab-menu li{padding: 20px;}
}
@media all and (max-width: 767px) {
    .tab-menu li{display: block; border-bottom: 1px solid #505050; border-radius: 0; padding: 10px; text-align: center;}
}

.catalog_preview_1_block{position: relative; float: left; border: 1px solid #fff; width:16.66666667%; box-sizing: border-box; padding: 10px;}
.catalog_preview_color_0{background-color: #88241e;}
.catalog_preview_color_1{background-color: #2e2e2e;}
.catalog_preview_color_2{background-color: #565656;}
.catalog_preview_color_3{background-color: #7a7a7a;}
.catalog_preview_color_4{background-color: #8a8a8a;}
.catalog_preview_color_5{background-color: #b4b4b4;}
.catalog_preview_color_6{background-color: #cfcfcf;}
.catalog_preview_1_block .img{width: 120px; height: 120px; margin: auto; background: url("/public/img/ico/catalog-icons.png") no-repeat top left;}
.catalog_preview_1_block .img.img-1{background-position: 0 0;}
.catalog_preview_1_block .img.img-2{background-position: -144px 0;}
.catalog_preview_1_block .img.img-3{background-position: -280px 0;}
.catalog_preview_1_block:hover .img.img-1{background-position: 0 -130px;}
.catalog_preview_1_block:hover .img.img-2{background-position: -144px -130px;}
.catalog_preview_1_block:hover .img.img-3{background-position: -280px -130px;}
.catalog_preview_1_block .descr{border-top: 1px solid #2e2e2e; font-size: 1.125em; font-weight: 500; padding-top: 20px; margin-top: 20px;
    color: #505050;}
.catalog_preview_1_block .descr > p{margin-top: 0;}
.catalog_preview_1_block:hover{background: #fff;}
.catalog_preview_1_block:hover .descr{color: #88241e; border-color: #505050;border-top: 1px solid #88241e;}

.catalog_preview_color_1{}

@media all and (max-width: 1150px) {
    .catalog_preview_1_block{width: 33.33333%;}
}
@media all and (max-width: 600px) {
    .catalog_preview_1_block{width: 50%;}
}
.box-shadow{position: relative; cursor: pointer}
.box-shadow:hover:after{content: ''; width: 100%; height: 100%; box-shadow: 0 0 30px -5px #424242; position: absolute; top: 0; left: 0; z-index: 5;}

.catalog_preview_2_block{position: relative; float: left; border: 1px solid #fff; width:33.333333%; box-sizing: border-box;
    padding: 40px 5%;}
.catalog_preview_2_block.catalog_preview_color_1{color: #fff;}
.catalog_preview_2_block:hover{background: #fff; color: #424242;}
.catalog_preview_2_block .title{border-bottom: 1px solid #88241e; font-size: 1.125em; font-weight: 500; padding-bottom: 20px; margin: 20px 0;
    text-transform: uppercase;}
.catalog_preview_2_block.catalog_preview_2_block_new { color: #fff; padding: 21px;}
.catalog_preview_2_block.catalog_preview_2_block_new:hover{background: #fff; color: #88241e}
.catalog_preview_2_block.catalog_preview_2_block_new:hover .btn{background: #fff; border-color: #88241e; color: #88241e}
.catalog_preview_2_block.catalog_preview_2_block_new:hover .btn-arrow:after {background-position: 0 -19px;}
.catalog_preview_2_block .title_new{font-size: 1.875em; font-weight: 500; margin: 20px 0; text-transform: uppercase;}

@media all and (max-width: 1150px) {
    .catalog_preview_2_block{width: 50%;}
}
@media all and (max-width: 600px) {
    .catalog_preview_2_block{width: 100%;}
}

.catalog_preview_3 > div{min-height: 270px;}
.catalog_preview_3 .catalog_preview_1_block .descr{color: #424242; border: none;}

.catalog-blocks .form_block{margin-top: 40px;}

.catalog-blocks .catalog_preview_1_block,
.catalog-blocks .catalog_preview_2_block.catalog_preview_2_block_new{border-width: 5px; min-height: 300px;}
.catalog-blocks .box-shadow:after {
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px -5px #424242;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.catalog-blocks .box-shadow:hover:after{box-shadow: 0 0 30px -5px #424242;}
@media all and (max-width: 1830px) and (min-width: 1220px){
    .catalog-blocks .catalog_preview_1_block, .catalog-blocks .catalog_preview_2_block.catalog_preview_2_block_new {
        min-height: 365px;
    }
}
@media (max-width: 1220px){
    .catalog_preview_1_block {width: 33.33333%;  }
}

    /* catalog - end */


/* products */
.products{   background: url("/public/img/bg/bg_2.png") center no-repeat; background-size: cover; }
.products_item_row{display: table-row;}
.products_item {display: table-cell; position: relative; width: 33%; padding-bottom: 230px;}
.products_item:hover{background: #fff; cursor: pointer;}
.products_item > p{width: 90%; margin: 16px auto;}
.products_item .title{font-size: 1.375em; min-height: 90px; text-transform: uppercase; padding-top: 5%; font-weight: bold;}
.products_item:hover .title{color: #88241e;}
.products_item .title2{font-size: 0.875em; font-weight: bold; text-transform: uppercase;}
.products_item .descr{ color: #727272;}
.products_item .price{font-size: 3em; font-weight: bold; margin: 0; }
.products_item .price .sm{font-size: 0.53em; }
.products_item .price.mt{margin-top: 40px;}
.products_item .price.old{font-size: 1.875em; font-weight: bold; color: #c0c4c5; }
.products_item .price.old > span{position: relative; display: inline-block}
.products_item .price.old > span:after{content: ''; width: 100%; display: block; border-bottom: 1px solid #c0c4c5; position: absolute; left: 0; bottom: 13px;}
.products_item .btn{border-radius: 25px; max-width: 200px;}
.products .item:hover .btn{background-color: #88241e; color: #fff;}
.products_item_bottom{ text-align: center;  bottom: 40px; position: absolute; left: 0; right: 0;  box-sizing: border-box;
}
@media all and (max-width: 767px) {
    .products_item_row, .products_item{display: block; width: 100%; background: rgba(255, 255, 255, 0.57);}
    .products_item{border-bottom: 1px solid; padding: 0;}
    .products_item .price.mt{margin-top: 5%;}
    .products_item .btn{margin: auto;}
    .products_item_bottom{position: relative; bottom: 0; margin-bottom: 40px;}
}
/* products-end */

/* service_products_v2 */
.service_products_v2 .products_table{display: table;}
.service_products_v2 .products_row{display: table-row; }
.service_products_v2 .products_row:nth-child(2n+1){background: #f5f5f5;}
.service_products_v2 .products_row:hover{background-color: #88241e; color: #fff; cursor: pointer;}
.service_products_v2 .products_cell{display: table-cell; height: 134px; width: 25%; text-align: center; vertical-align: middle;}
.service_products_v2 .products_cell:first-child{width: 50%; text-align: left}
.service_products_v2 .title{font-weight: 500; padding-left: 30px; font-size: 1.375em; text-transform: uppercase;}
.service_products_v2 .price{padding: 0 5%; font-weight: 500; font-size: 1.875em}
.service_products_v2 .price p{margin: 0;}
.service_products_v2 .price .sm{font-size: 0.7em;}
.service_products_v2 .price .old{font-size: 0.7em; margin: 0; color: #c0c4c5}
.service_products_v2 .price .old > span{position: relative; display: inline-block}
.service_products_v2 .price .old > span:after{content: ''; width: 100%; display: block; border-bottom: 1px solid #c0c4c5; position: absolute; left: 0; bottom: 13px;}
.service_products_v2 .btn{background-color: #fff; color: #88241e; border-radius: 25px;}
@media all and (max-width: 767px) {
    .service_products_v2 .container{width: 100%;}
    .service_products_v2 .products_table,
    .service_products_v2 .products_row{display: block; width: 100%; }
    .service_products_v2 .products_cell,
    .service_products_v2 .products_cell:first-child{display: block; height: auto; width: 90%; text-align: center; margin: auto;; }
    .service_products_v2 .products_row{padding: 20px 0; border-bottom: 1px solid }
    .service_products_v2 .products_row.main{background-color: #88241e; color: #fff;}
}
/* service_products_v2 - end */

/* breadcrumbs */
.breadcrumbs a, .breadcrumbs span{display: inline-block; text-transform: uppercase; line-height: 60px; font-weight: normal; font-size: 14px; color:#8d98a0 }
.breadcrumbs span{color: #34495e}
.breadcrumbs a:after{content: '>'; margin-left: 10px; display: inline-block; width: 14px; height: 14px;}
.breadcrumbs_white span{color: #d7d7d7;}
.breadcrumbs_white a{color: #fff;}

@media all and (max-width: 767px) {
    .breadcrumbs{padding: 5%;}
    .breadcrumbs a, .breadcrumbs span{line-height: 1.5em;}
}
/* breadcrumbs - end */

/* reviews */
.reviews{position: relative;}
.reviews:before{content:''; display: block; width:50%; height: 100%; top: 0; left: 0;
    position: absolute; background: url("/public/img/bg/bg-people.png") top right no-repeat; background-size: cover; }
.reviews_item{outline: none;}
.reviews_item .quote{width: 585px;  position: relative;}
.quote_offset{max-width: 90%; margin: 5% 0 0 7%;}
.reviews-slider {background: #505050; color: #fff; padding: 4% 0; }
.reviews-slider:before{content: ''; position: absolute; top: 6%; left: -15px; width: 0; height: 0;
    border-top: 15px solid transparent; border-right: 15px solid #505050; border-bottom: 15px solid transparent;}
.reviews_name{font-weight: bold; font-size: 1.875em;}
.reviews_name span{text-transform: uppercase;}
.reviews_work{color: #8f8f8f; font-weight: bold; }
.reviews_text{color: #fff; font-size: 1.125em; font-weight: 500;}
/*.reviews_item .quote:before, .reviews_item .quote:after{*/
    /*content: ''; display: block; line-height: 0; z-index: -1; position: absolute; font-weight: bold; font-size: 100px; color: #424242;*/
/*}*/
/*.reviews_item .quote:before{content: "\00ab"; top: 0; left: -20px; }*/
/*.reviews_item .quote:after{content: "\00bb"; bottom: 0; right: 0;}*/
.reviews .slick-prev{ left: 5px; z-index: 100;}
.reviews .slick-next{ right: 5px;}
@media all and (max-width: 767px) {
    .reviews:before{content: none;}
}
/* reviews - end */

/* catalog */
.service-block-top{background-color: #f5f5f5; min-height: 60px;}

.service_first_block{padding-bottom: 4%; background: url("/public/img/bg/bg_1.png") center no-repeat; background-size: cover;}
.service_first_block h2{position:relative; font-weight: 700; font-size: 1.375em; text-align: center;}
.service_first_block h2:after{content:''; width: 100px; height: 0; border-bottom: 2px solid #88241e;
    position: absolute; bottom: -10px; left: 0; right: 0; margin: auto;}
.title-descr{ font-size: 1.375em; font-weight: normal; text-align: center; max-width: 100%; margin: auto  }
.title-text{margin-top: 40px;}
.title-text .title{font-weight: 700; font-size: 1.125em; text-transform: uppercase;}
.title-text ul{padding-left: 10px}
.title-text li{list-style: none; position: relative; font-size: 1.125em; margin-bottom: 10px;}
.title-text li:before{content: ''; width: 0; height: 0; border: 2px solid #88241e; border-radius: 50%;
    position: absolute; left: -15px; top: 9px;}

.answers-bg{ background: url("/public/img/bg/bg_3.png") center no-repeat; background-size: cover;}
.answers{padding-bottom: 10%; }
.answers-block{padding: 5px 0; background: #fff;}
.answers_title{ text-align: center; padding: 20px 0;  }
.answers_title h2{color: #fff; font-weight: bold; font-size: 2.25em; text-transform: uppercase;}
.answers_title h2:after{content: none;}

.answers .item{height: 300px; position: relative; margin: 5px; }
.answers .item_content{background: url("/public/img/bg/bg_2.png") no-repeat; background-size: cover;
    height: 100%; width: 100%; position: absolute; left: 0; top: 0; }
.answers .item_content:before{content: ''; width: 30px; height: 30px; position: absolute;
    background: url("/public/img/service-card/arrow.png") no-repeat; top: 10px; right: 10px; }
.answers .item:hover .item_content:before{background-image: url("/public/img/service-card/arrow-hover.png"); transform: scale(1,-1)}
.answers .item.active .item_content:before, .answers .item.active:hover .item_content:before {background-image: url("/public/img/service-card/arrow-hover.png"); transform: none;}
.answers .title, .answers .description{width: 90%; margin: auto}
.answers .title{font-size: 1.5em; margin-top: 70px; font-weight: 500; text-transform: uppercase; }
.answers .description{display: none; height: 0; transition: 0.5s}
.answers .item:hover .item_content{background: #fff;}
.answers .item:hover .title{color: #88241e; text-decoration: underline;}
.answers .item.active .item_content{height: 610px; overflow: auto; background: #fff; z-index: 1; }
.answers .item.active .item_content_bottom{top: -300px;}
.answers .item.active .title{margin-top: 5%; color: #88241e;}
.answers .item.active .description{display: block; height: auto;}
.answers .item .document{display: block; min-height: 35px; position: relative; padding-left: 35px; margin-top: 10px;}
.answers .item .document:before{content: ''; width: 30px;background: no-repeat; height: 35px; position: absolute; top: 0; left: 0;}
.answers .item .document.pdf:before{background-image:url("/public/img/service-card/pdf.png") }
.answers .item .document.doc:before{background-image:url("/public/img/service-card/doc.png") }
@media all and (max-width: 767px) {
    .container{width: 90%; margin: auto;}
    .answers .item{height: 220px;}
    .answers .item.active .item_content{height: auto; padding-bottom: 50px;}
}
/* catalog - end */

.bargaining-block-top{background: url("/public/img/bg/bg-1.png") no-repeat; background-size: cover; color: #fff;}
.procurement .bargaining-block-top{background-image:  url("/public/img/bg/bg-3.png")}


.bargaining-block-top .title_txt{font-size: 1.375em; text-align: center; }
.bargaining-block-top .blocks .descr{font-size: 1.125em; text-transform: uppercase; margin: 0 5%}
.bargaining-block-top .blocks .title{font-size: 4.5em; font-weight: 700; color: #fff;}
.bargaining-block-top .blocks{margin: 5% 0; text-align: center;}

.bg-2-blocks{background: url("/public/img/bg/bg-2.png") no-repeat; background-size: cover;}
.bargaining_descr_block h2{position: relative;}
.bargaining_descr_block h2:after{content: ''; position: absolute; width: 0; height: 0;
    left: 0; right: 0; margin: auto; bottom: -23px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #88241e;
}
.bargaining_descr_block .item {background: #fff; border-style: solid; }
.bargaining_descr_block .head{display: block;}
.bargaining_descr_block .head img{float: left; margin-right: 20px}
.bargaining_descr_block .head p{font-size: 1.375em; font-weight: 500; text-transform: uppercase; }
.bargaining_descr_block .content{padding: 5%;box-sizing: border-box;}
@media all and (min-width: 767px) {
    .bargaining_descr_block .row{display: table; width: 100%;}
    .bargaining_descr_block .item{display: table-cell}
    .bargaining_descr_block .item.blt{ border-width: 0 0 1px 1px ; margin-left: -1px}
    .bargaining_descr_block .item.blb{ border-width: 0 0 1px 1px; margin-left: -1px}
    .bargaining_descr_block .item.brt{ border-width: 0 1px 1px 0; margin-right: -1px}
    .bargaining_descr_block .item.brb{ border-width: 0 1px 1px 0; margin-right: -1px}
    .bargaining_descr_block .off-right .content{margin-left: 0; margin-right: auto;}
    .bargaining_descr_block .off-left .content{margin-right: 0; margin-left: auto;}
    .bargaining_descr_block .content{width: 430px; max-width: 90%}
}
@media all and (max-width: 767px) {
    .bargaining_descr_block .item{border-width: 0 0 1px 0;}
    .content, .content-sm{ margin-top: 0;}
}
@media all and (min-width: 767px) and (max-width: 850px) {
    .bargaining_descr_block{background-color: #fff;}
    .bargaining_descr_block .item{width: 50%; display: inline-block;;}
}

.bargaining_text_block{background: #f5f5f5; padding: 40px 0;}
.procurement .bargaining_text_block{background: #fff; }
@media all and (min-width: 767px) {
    .offset-left{margin-left: 20px}
    .offset-right{margin-right: 20px}
}


.graph-block{color: #fff; padding-bottom: 40px;}
.graph-block .chart_bg_w{background: #fff; height: 400px;}
@media all and (max-width: 767px) {
    .graph-block .chart_bg_w{height: auto; padding: 5% 0; }
}

.colors-box-block{padding: 20px 0;}
.colors-box-block .item:nth-of-type(4n+1){background-color: #424242; color: #fff;}
.colors-box-block .item:nth-of-type(4n+2){background-color: #d7d7d7}
.colors-box-block .item:nth-of-type(4n+3){background-color: #fff;}
.colors-box-block .item:nth-of-type(4n+4){background-color: #747474; }
.colors-box-block .item > p {margin:15px 5%}
.colors-box-block .title{font-size: 1.875em; font-weight: 700; position: relative;}
.colors-box-block .title:after{content: ''; width: 150px; height: 0; position: absolute; bottom: 0; left: 0;
    border-bottom: 2px solid #88241e;}
.colors-box-block .item{min-height: 200px; cursor: pointer;}
.colors-box-block .item:hover .title{color: #88241e}
@media all and (max-width: 767px) {
    .colors-box-block .item{padding: 5% 0; border-bottom: 1px solid; min-height: auto;}
    .colors-box-block{padding: 0;}
}

.contacts_ico_block{}
.contacts_ico_block .ico{width: 40px; height: 40px; display: block; float: left;
    background: url("/public/img/bargaining/contacts.png") no-repeat top left; margin: -5px 10px 0 0; }
.contacts_ico_block .ico.ico-map{background-position: 0 0;}
.contacts_ico_block .ico.ico-mail{background-position: -40px 0;}
.contacts_ico_block .ico.ico-phone{background-position: -80px 0;}
.contacts_ico_block .ico.ico-site{background-position: -120px 0;}
.contacts_ico_block > div{display: block; margin-top: 15px; min-height: 40px;}

@media all and (max-width: 767px) {
    .container{width: 90%; margin: auto;}
    .container-sm-100{width: 100%;}
}

.slider-container{width: 90%; margin: auto; padding: 1px 0;}
.opacity-slider  .slick-slide{opacity: 0.3}
.opacity-slider  .slick-slide.slick-active{opacity: 0.6}
.opacity-slider  .slick-slide.slick-center{opacity: 1}

.bg-gray{background: #f5f5f5}

.contact_descr_block{border: solid #88241e; border-width: 1px 0;}
.contact_descr_block .content{padding: 5% 10%; }
.contact_descr_block .contacts{font-size: 1.5em; line-height: 0.5em;}
.contact_descr_block .gray{font-size: 1.125em; color: #afafaf}
.contact_descr_block > .item:nth-child(2n+1){border-right: 1px solid #88241e; margin-right: -1px}
.contact_descr_block > .item:nth-child(2n){border-left: 1px solid #88241e; margin-left: -1px}
@media all and (max-width: 767px) {
    .contact_descr_block > .item:nth-child(n){border-right: 0; border-bottom: 1px solid #88241e; margin-right: 0;}

}


.hover-grey-blocks {background: #f5f5f5; padding-top: 1px;}
.hover-grey-blocks .head{min-height: 180px;}
.hover-grey-blocks .not-fix .head{min-height: auto;}
.hover-grey-blocks .name{font-size: 1.375em; font-weight: 500; margin-top: 0;}
.hover-grey-blocks .position{font-size: 1.125em; color: #979696}
.hover-grey-blocks a.arrow{position: relative; font-size: 1.375em; font-weight: 500; color: #88241e;}
.hover-grey-blocks a.arrow:after{content: ''; position: absolute; top: 40%; width: 45px; height: 15px;
    background: url("/public/img/color-arrow.png") top left no-repeat; background-position: 0 -18px;}
.hover-grey-blocks .image{float: left; margin-right: 20px; min-height: 150px;}
.hover-grey-blocks .content{position: relative; background: #f5f5f5; border: solid #d7d7d7; border-width: 0 1px 1px;  padding: 7%; min-height: 250px;}
.hover-grey-blocks .fix-sm .content{min-height: 160px}
.hover-grey-blocks .content:after{content: ''; display: none; width: 100%; height: 100%;
    box-shadow: 0 0 35px 1px #d7d7d7; position: absolute; top: 0; left: 0; z-index: 5;}
.hover-grey-blocks .content:hover{background: #fff; border-color: #fff;}
.hover-grey-blocks .content:hover:after{display: block;}
@media all and (max-width: 1600px) {
    .hover-grey-blocks .content{  min-height: 300px; }
}
@media all and (max-width: 1200px) {
    .hover-grey-blocks .content{  min-height: 450px;}
}
@media all and (max-width: 767px) {
    .hover-grey-blocks .content{  min-height: auto; margin: 0; width: auto;}
    .hover-grey-blocks .image{min-height: auto;}
}

.form-white.form_block input, .form-white.form_block textarea{background: #fff;}
.form-white.form_block{background: #fff;}

.form_block{padding: 3% 0;}
.form_block form{margin-left: 0;}
.form_block form p{text-align: left;}
@media all and (max-width: 767px) {
    .form-left.form_block form{width: 100%; max-width: 100%;}
}

.role_first_block{padding: 4% 0; background: url("/public/img/bg/bg-3.png") no-repeat; background-size: cover; color: #fff; }
.role_descr{padding: 5% 0; font-size: 1.125em;}
.role-page-blocks .service_products_v2 .container{max-width: 880px;}
.role-page-blocks h1{font-size: 2.2em}

.sro_block_top{padding-bottom: 6%; background: url("/public/img/bg/bg-1.png") no-repeat; background-size: cover; color: #fff; }
.sro_block_top .title_txt{margin: auto; max-width: 800px; font-size: 1.375em;}
.sro_descr_block{padding: 2% 0;}
.sro_descr_block .item{margin-top: 35px;}
.sro_descr_block p.title{margin: 13px 0; font-size: 1.375em; font-weight: 500; color:#141313; text-transform: uppercase; }
.sro_descr_block p{margin: 13px 0; font-size: 1.125em; color: #747474}
.sro_descr_block .btn{text-transform: uppercase;}

.articles_menu_block{float: left; width: 286px; margin-top: 20px;}
.menu2_left, .menu2_left2 li{margin: 0; padding: 0; list-style: none; width: 100%; display: block; }
.menu2_left li > a{display: block; padding: 20px; background:#d7d7d7; font-size: 1.125em; font-weight: 500; margin-bottom: 3px; }
.menu2_left li > a:hover{background: #88241e; color: #fff;}
.menu2_left li > a.active{background: #424242; color: #fff;}
@media all and (max-width: 767px) {
    .articles_menu_block{float: none; width: 100%;}
}

.articles_preview_block{position: relative; margin-top: 20px; width: 70%; width: calc(100% - 286px); float: left;}
.article_preview{min-height: 245px; position: relative; margin:0 0 20px 20px;  background: no-repeat; background-size: cover;}
.article_preview_descr{position: absolute; box-sizing: border-box; width: 100%; padding: 10px; min-height: 120px; max-height: 100%; bottom: 0; left: 0;
    background-color: #424242; background-color: rgba(0,0,0,0.63); color: #fff;
    transition: 0.5s; overflow: hidden; text-overflow: ellipsis;}
.article_preview_descr.full{height: 100%;}
.article_preview_descr .text{display: none;}
.article_preview:hover .article_preview_descr {height: 100%; }
.article_preview:hover .article_preview_descr .text{display: block;}
.article_preview .data{font-size: 0.875em;}
.article_preview .title{text-transform: uppercase;}
.article_preview p{margin: 10px 0 0 0}
.article_preview.article_preview_single{margin: 20px 0; min-height: 270px;}
.article_preview .btn{width: 100%; margin: 10px 0; box-sizing: border-box;}
.article_preview .full_text{padding: 10px;}
@media all and (max-width: 767px) {
    .articles_preview_block{float: none; width: 100%;}
    .article_preview{margin-left: 0;}
}
.article_preview_bg{cursor: pointer; min-height: 245px; position: relative; margin:0 0 20px 20px; padding: 20px;}
.article_preview_bg.bg-1{background-color: #2e2e2e; color: #fff;}
.article_preview_bg.bg-2{background-color: #cfcfcf}
.article_preview_bg.bg-3{background-color: #e7e7e7}
.article_preview_bg .data{font-weight: 500;}
.article_preview_bg .title{font-weight: 500; text-transform: uppercase;}
.article_preview_bg .text{color: #727272;}
.article_preview_bg.bg-1 .text{color: #afafaf;}
.article_preview_bg .show{position: relative; margin-bottom: 40px;}
.article_preview_bg .show:after{content: ''; width: 90px; height: 0; left: 0; bottom: -20px;
    position: absolute; transition: 0.5s; border-bottom: 1px solid #88241e;}
.article_preview_bg:hover .show:after{width: 100%; border-width: 2px; border-color: #88241e;}
.article_preview_bg:hover{background: #fff; box-shadow: 0 5px 15px 0 #c5c5c5;}
.article_preview_bg:hover .data{color: #424242;}
.article_preview_bg:hover .title{color: #88241e;}
.article_preview_bg:hover .text{color: #727272;}
.article_preview_bg.dark .text{color: #fff}
.article_preview_bg.dark .show:after{border-color: #fff;}
.article_preview_bg.dark:hover .show:after{border-color: #88241e;}
.article_preview_bg.dark:hover .text{color: #727272;}
.article_preview_bg.dark:hover .btn{border-color: #88241e; color: #88241e}
.article_preview_bg.dark:hover .btn-arrow:after { background-position: 0 -18px;}
@media all and (min-width: 767px) and (max-width: 1130px) {
    .articles_preview_block > .col-sm-4{width: 50%;}
}

@media all and (max-width: 767px) {
    .article_preview_bg{margin: 0;}
}

.articles_content_block{float: left; width: 70%; padding-left: 20px; box-sizing: border-box;}
.articles_content_block .content_data{color: #979696; font-size: 1.125em}
.articles_content_block .text{font-size: 1.125em;}
.articles_content_block .btn{min-width: 200px; text-align: center;}
.articles_content_block .image{width: 100%;}
.articles_right_block{float: right; width: 30%;}
@media all and (max-width: 1130px) {
    .articles_content_block, .articles_right_block{width: 100%;}
}

.underline_list{max-width: 750px; margin: auto}
.underline_list_item > .title{position: relative; font-size: 1.375em; font-weight: 500; text-transform: uppercase;}
.underline_list_item > .title:after{content: ''; width: 100px; height: 0; position: absolute; bottom: -10px; left: 0;
    border-bottom: 2px solid #88241e;}
.underline_list_item > a{font-size: 1.125em; color: #8f8f8f; text-decoration: underline;}

.list-service-page-block-top{padding-bottom: 5%; margin-bottom: 40px; background: url("/public/img/bg/bg-1.png") no-repeat; background-size: cover; color: #fff;}


.bg-color-list{background: url("/public/img/bg/bg-color-list.png") no-repeat center; background-size: cover;}

#marquee{
    margin: 10px 0;
    line-height:30px;
}

/* modal */
.modal{ position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 55555; display: none; overflow: auto;
    -webkit-overflow-scrolling: touch; outline: 0; background: #424242; background: rgba(51, 51, 51, 0.8);
}
.modal .modal-title{margin: 30px auto; font-weight: normal; }
.modal-dialog{ position: relative; width: 950px; max-width: 90%; min-height: 400px; max-height: 90%; margin: 10% auto;  background-color: #fff;}
.modalclose{ position: absolute; top: 15px; right: 15px; border: none;  cursor: pointer; width: 20px; height: 20px;
    background: no-repeat center; background-image: url(/public/img/ico/close.png); background-image: url(/public/img/ico/icon_close.svg); background-size: cover; }
.modal .form_block{margin-top: 40px;}
.modal .form_block form >.control .offset_right{margin-right: 15px; margin-left: 0}
.modal .form_block form >.control .offset_left{margin-right: 0; margin-left: 15px}
.modal .form_block form{width: 100%; max-width: 100%;}
@media all and (max-width: 767px) {
    .modal-dialog { margin-top: 90px}
    .modalclose {  top: 5px; right: 5px; width: 25px; height: 25px;}
    .modal .form_block form >.control .offset_right,
    .modal .form_block form >.control .offset_left{margin-right: 0; margin-left: 0}
}

/* modal-end */

/* ie8 */
/*.ie8 #art_4{ background-image: url("/public/img/bg/bg_block4.png"); height: 200px; background-size: cover; display: block; padding: 0px 0;}*/
.ie-show{display: none;}
.ie8 .ie-show{display: block;}
.ie8 .ie-hide{display: none;}
.ie8 .slider-sum{margin: 0 auto;}
.ie8 .main_blocks_second:before{content: none;}
.ie8 .main_blocks_second .container{width: 100%; max-width: 100%}
.ie8 #art_3 .content-sm{margin-left: 20%;}
.ie8 label{display: block;}
.ie8 .box-shadow:hover:after{content: ''; width: 100%; height: 100%; border: 1px solid #424242; position: absolute; top: 0; left: 0; z-index: 5;}
.ie8 .article{ background-clip:padding-box}
.ie8 .top-main-menu{border-bottom: 1px solid #b4b4b4;}
.ie8 #art_4, .ie8 #art_3{padding-bottom: 0;}
.ie8 .news-blocks .article{width: 46%; float: left; border: 1px solid transparent;}
.ie8 .news-blocks .article:hover{border: 1px solid #b4b4b4}
.ie8 .news-block_img{background-repeat: repeat; background-position-x: center;}
.ie8 .news-block_img .hover{-moz-opacity: 0.70; opacity:.70; filter: alpha(opacity=70);}
.ie8 .answers-bg{background-repeat: repeat; background-position-y:top; }
.ie8 .ie-bg-gray{background-color: #f5f5f5;}
.ie8 .bargaining_descr_block .item{display: block; float: left; width: 50%; min-height: 320px; border: 1px solid; box-sizing: border-box;}
.ie8 .article_preview_bg{border: 1px solid transparent;}
.ie8 .article_preview_bg:hover{border-color: #b4b4b4;}
.ie8 .hover-grey-blocks .content:hover{border-color: #b4b4b4;}
.ie8 .catalog-blocks .box-shadow:after { border: 1px solid #b4b4b4;}
.ie8 .catalog_preview_2_block.catalog_preview_2_block_new { padding-bottom: 0; padding-top: 20px; }
.ie8 .main_blocks_fourth .container2:before,
.ie8 .main_blocks_third .container2:before,
.ie8 .main_blocks_third .container2:after,
.ie8 .main_blocks_second .container2:before,
.ie8 .main_blocks_second .container2:after
{background-repeat: repeat; background-position: center;}
.ie8 .modalclose{  background-image: url(/public/img/ico/close.png);}

@media all and (max-width: 767px) {
    .ie8 .news-blocks .article{width: 100%; float: none; border: 1px solid transparent;}
    .ie8 #art_3, .ie8 #art_4{padding-bottom: 5%;}
    .ie8 #art_3 .content-sm{margin-left: 5%;}
    .ie8 .main_blocks_third, .ie8 .main_blocks_second {margin: 0;}
    .ie8 .main_blocks_first .container2:before, .ie8 .main_blocks_first .container2:after,
    .ie8 .main_blocks_fourth .container2:before,
    .ie8 .main_blocks_third .container2:before,
    .ie8 .main_blocks_third .container2:after,
    .ie8 .main_blocks_second .container2:before,
    .ie8 .main_blocks_second .container2:after{ content: none; border: none; background: none;}
    .ie8 #art_6{margin-top: 0;}
}
/* ie8 - end */