//@import "./aslick.less";

@font-face {
  font-family: FontfabricMuller;
  src: url(/public/fonts/FontfabricMullerLight.otf);
  font-weight: 300;
}
@font-face {
  font-family: FontfabricMuller;
  src: url(/public/fonts/FontfabricMullerMedium.otf);
  font-weight: 500;
}
@font-face {
  font-family: FontfabricMuller;
  src: url(/public/fonts/FontfabricMullerRegular.otf);
  font-weight: normal;
}
@font-face {
  font-family: FontfabricMuller;
  src: url(/public/fonts/FontfabricMullerBold.otf);
  font-weight: bold;
}

@font-face {
  font-family: FontfabricMuller;
  src: url(/public/fonts/FontfabricMullerExtraBold.otf);
  font-weight: 900;
}



@c_aqua: #47ddf9;
@c_yellow: #ffcc00;
@c_red: #cf000f;
@bg_gray: #eee;

html, body{padding: 0; margin: 0; background: @bg_gray; font-family: FontfabricMuller; font-size: 16px;}
img{max-width: 100%; max-height: 100%}

.container{max-width: 1250px; width: 90%; margin: auto;}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
  clear: both;
}
.btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container:after, .container:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before,  .row:after, .row:before {
  display: table;
  content: " ";
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
}
.col-sm-12 { width: 100%;}
.col-sm-11 { width: 91.66666667%;}
.col-sm-10 { width: 83.33333333%;}
.col-sm-9 { width: 75%;}
.col-sm-8 { width: 66.66666667%;}
.col-sm-7 {  width: 58.33333333%;}
.col-sm-6 { width: 50%;}
.col-sm-5 { width: 41.66666667%;}
.col-sm-4 { width: 33.33333333%;}
.col-sm-3 { width: 25%;}
.col-sm-2 { width: 16.66666667%;}
.col-sm-1 { width: 8.33333333%;}

.navbar-menu{

  position: absolute;
  min-height: 70px;
  width: 100%;
  z-index: 1111;
  color: #fff;

  .navbar-right { float: right;}
  .navbar-left { float: left;}
  ul{padding: 0; margin: 0; }
  li{display: inline-block;}
  li>a {
    font-size: 1em; font-weight: 900; padding: 50px 30px 50px 0px; color: #fff; display: block;
    text-decoration: none; text-transform: uppercase;
  }
  li>a:focus, li>a:hover { color:@c_aqua; }
  .navbar-toggle{display: none}
  .liphone{position: relative;}
  .phone{
    position: relative; padding: 40px 0 25px 0;
    i{width: 30px; height: 30px; display: inline-block; background: url("/public/img/phone_ico.png")}
    .num{font-size: 1.875em; font-weight: bold; margin-left: 15px;}
    & + .desc{position: absolute; bottom: 0; left: 70px; font-weight: normal; text-transform: none;}
  }



  @media all and (max-width: 767px) {
    background: rgba(0, 0, 0, 0.8);
    position: fixed; left: 0px; top: 0px;
    li{display: block;}
    li>a{text-align: center; }
    .navbar-nav{float: none;}
    .collapse{display: none;}
    .navbar-collapse{ margin-top: 70px;}
    .xs-opened{display: block}
    .navbar-toggle {
      width: 40px; height: 40px; display: block; background: rgba(0, 0, 0, 0.5);
      border: 1px solid #fff; border-radius: 0;
      position: absolute; left: 20px; top: 20px;
      span{
        position: absolute; width: 70%; top: 11px; display: block; height: 1px; background: #fff;
        &:before, &:after{content: ''; position: absolute; border-top: 1px solid #fff; width: 100%; left: 0;}
        &:before{top: 8px;}
        &:after{top:16px;}
      }
    }
  }

  }

h2{font-family: FontfabricMuller; line-height: 1.2em; text-transform: uppercase; font-weight: 900; font-size: 2.625em;}
h2 span{font-weight: 300;}
.btn-main{padding: 25px 60px; cursor: pointer; background: @c_yellow; border-radius: 48px;
  color: #000; text-transform: uppercase; text-decoration: none;
  display: inline-block; font-size: 1.5em; font-weight: 900; letter-spacing: 4px;
  box-shadow: 0px 10px 40px -8px @c_yellow; border: none;
  -webkit-appearance: none; -moz-appearance: none; appearance: none;
}
.btn-main:hover{background-color:#f0a503; box-shadow: none;}
input[type='submit']
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn-main:disabled{opacity: 0.5;}
.absline{
  position: absolute; height: 100%; z-index: 20; left: 145px; top: 0;
  border-left: 1px solid #ccc;
  .num{
    width: 70px;
    height: 70px;
    font-size: 1.5em;
    line-height: 3em;
    font-weight: 900;
    color: #47ddf9;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;
    left: -35px;
    padding: 0 15px;
    box-sizing: border-box;
    &.g{background: #000;}
    &:after{
      content: '';
      width: 100px;
      border-bottom: 1px solid #ccc;
      position: absolute;
      left: 70px;
      top: 35px;

    }

  }
  @media (max-width: 1800px){
    left: 100px;
    .num:after{width: 20px;}
  }
  @media (max-width: 1600px){
    left: 70px;
    .num:after{width: 20px;}
  }
}


.se-container{ display: block;  width: 100%;   overflow: hidden;}
.se-slope{  margin: 0 -120px;  transform-origin: left center;}
//.se-slope .container{margin: 70px auto;}

.block1{
  position: relative;
  .absline{
    top: 150px;
    .aa{position: absolute;transform: rotate(-90deg); background: #000000;}
    .a1{
      width: 200px;
      height: 20px;
      top: 110px;
      left: -115px;
      padding: 0 15px;}
    .a2{
      width: 130px;
      height: 20px;
      top: 550px;
      left: -80px;
      padding: 0 15px;
    }
    .a0{
      width:130px; height: 130px; max-width: 130px;
      top: -125px; left: -65px;
      position: absolute;
    }
    .a3{
      width:70px; height: 70px; max-width: 70px;
      top: 340px; left: -35px;
      position: absolute;
    }
  }
  padding-top: 70px;
  background: url("/public/img/BG_1-min.png") no-repeat;
  background-size: cover;
  color: #fff; padding-bottom: 15%;
  h2{font-size: 3em;  color: @c_aqua; padding-top: 15%; line-height: 1.2em;}
  .t2{font-size: 2.25em; font-weight: 900;}
  .quote{
    font-size: 1.5em; position: relative; padding-left: 20px; line-height: 1.2em;
    &:before{content: ''; height: 100%; position: absolute; left: 0; border-left: 1px solid #fff;}
  }
  .david{
    display: block; z-index: 11;
    background: url("/public/img/David-min.png") no-repeat;
    background-size: cover;
    width: 50%;
    height: 80%;
    position: absolute;
    top: 10%;
  }
  .btn-main{margin-top: 4%; padding: 38px 60px;}
}

.block2{
  position: relative;
  .absline{
    height: 80%;
  }
  header{
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .se-slope{
    background: @bg_gray;
    transform: rotate(-10deg);
    z-index: 11;padding: 5% 0;
    position: relative;
    .container{transform: rotate(10deg);  position: relative; z-index: 20;}
    &:before{
      content: ''; background: url("/public/img/Persey-round-min.png") no-repeat right top;
      position: absolute; width: 100%; height: 100%;
      top:0;
    }
  }
  .persey{
    display: block;
    z-index: 11;
    background: url(/public/img/Persey-min.png) no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 36%;
    right: 0;
  }

}

.block3{
  .absline {
    .num{ top: 25%; }
  }
  .container{
    margin-top: -5%; margin-bottom: -10%;
  }
  background: url("/public/img/BG_2-min.png") no-repeat;
  background-size: cover;
  padding: 20% 0;
  color: #fff;
  margin-top: -25%;
  z-index: 11;
  position: relative;
}

.block4{
  position: relative;margin-top: -5%;
  .absline {
    .num{ top: 0; }
  }
  .b1{position: relative;}
  .b2{margin-top: 5%;}
  .circles{
    padding-left: 20%;
    p{
      position: relative; font-size: 1.5em; font-weight: bold;
      padding-left: 60px; margin: 10% 0;
      &:before{content: ''; position: absolute; width: 300px; left: -300px; top:18px; border-bottom: 1px dashed #000000}
    }
    span{
      width: 40px; height: 40px; position: absolute; top:-5px; left: 0;
      &:before, &:after{content: ''; position: absolute; top: 0; left: 0;}
      &:before{width: 100%; height: 100%; background: #000; border-radius: 50%}
      &:after{width: 50%; height: 50%; background: @c_aqua; border-radius: 50%; left: 25%; top: 25%;}
    }
  }
  .circle_big{
    position: absolute;
    top: -70px;
    right: -80px;
    span.c1{
      display: block; z-index: 10; width: 850px; height: 850px; background: @c_aqua; border-radius: 50%; position: relative;
      &:before{content: ''; position: absolute; top: 15%; left: 15%; width: 70%; height: 70%; background: #fff; border-radius: 50%;}
    }
    span.c2{
      display: block; z-index: 11;
      background: url("/public/img/Geracl-min.png") no-repeat;
      background-size: cover;
      width: 800px;
      height: 900px;
      position: absolute;
      top: 150px;
    }
  }
  h2{position: absolute; z-index: 20; top: -20px;}
  .btn2{margin-top: 5%}
}

.block5{
  position: relative;
  color: #fff;
  padding: 15% 0 30%;
  &:before{content: ''; position: absolute; width: 100%; height: 100%; top: 0; z-index: 11;
    background: url("/public/img/BG_3-min.png") no-repeat;
    background-size: cover;
  }
  .absline {
    .num{top:30%;}
  }
  .container{position: relative; z-index: 12;}
  .block{
    font-size: 1.5em;
    position: relative;
    &>span{position: absolute; top:15px; font-size: 3em; color: @c_aqua; font-weight: 900; }
    p{padding-left: 100px;}
    .color, a.color{color: @c_aqua; text-decoration: none;}
  }
  .b2{text-align: right; margin-top: 5%;}
  .b0{margin-top: 5%;}
}

.block6{
  position: relative;
  margin-top: -15%;
  .container{position: relative;}

  .slide{
    .label{
      background: #fff no-repeat center; width: 225px; height: 180px; margin: 10px;
      float: right; box-shadow: 5px 5px 20px 0px #d6d6d6;
      &:nth-of-type(1){background-image: url("/public/img/partner_1.png")}
      &:nth-of-type(2){background-image: url("/public/img/partner_2.png")}
      &:nth-of-type(3){background-image: url("/public/img/partner_3.png")}
      &:nth-of-type(4){background-image: url("/public/img/partner_4.png")}
      &:nth-of-type(5){background-image: url("/public/img/partner_5.png")}
    }
  }
  .img{
    display: block; z-index: 11;
    background: url("/public/img/Cesar-min.png") no-repeat;
    background-size: cover;
    width: 75%;
    height: 125%;
    position: absolute;
    top: 25%; right: 50%;
  }
}

.block7{
  position: relative;
  color: #fff;
  padding: 20% 0;
  &:before{content: ''; position: absolute; width: 100%; height: 100%; top: -10%; z-index: 11;
    background: url("/public/img/BG_4-min.png") no-repeat;
    background-size: cover;
  }
  .absline{
    .num{
      top: 30%;}
  }
  .container{position: relative; z-index: 12;
    margin-top: -3%}
  .slider{margin-top: 7%;}
  .item{
    background: #fff; color: #000;
    padding: 10%;
    margin-right: 5%;
    .fio{font-size: 1.5em; margin: 0 0 20px;}
    .n2{font-size: 1.125em; color: #9fa3a7; margin: 5px 0;}
    .up{text-transform: uppercase;}
    .txt{margin-top: 5%; line-height: 1.2em;}
  }
  .item2{
    margin-left: 5%;
  }
}

.block8{
  position: relative;
  margin-top: -5%;
  &:before{content: ''; position: absolute; width: 100%; height: 100%; top: -40%; right: -20%;
    background: url("/public/img/Laokoon-min.png") no-repeat top right;
    background-size: 60%;
  }
  .container{position: relative;}
  .reviews{margin: 5% 0;}
  .review{
    margin: 10px 0;
    img{width: 28%; float: left; border: 1px solid #ccc; border-radius: 50%;}
    div{width: 65%; float: left; margin-left: 5%;}
    a{color: @c_aqua; text-decoration: underline;}
    p{margin: 0;}
    .fio{font-size: 1.125em; margin: 5px 0;}
    .d{color: #9fa3a7; }
    .tel{margin: 15px 0;}
  }
  .full_photo{
    height: 450px; position: relative;
    background: url("/public/img/full_photo.jpg") no-repeat center;
    background-size: cover;
  }
}

.block9{
  position: relative;
  padding: 3% 0; min-height: 500px;
  .b1{position: relative;}
  .b2{margin-top: 5%;}
  .absline .num{top: 20%;}
  .circle_big{
    position: absolute;
    top: -10%;
    right: 30px;
    span.c1{
      display: block; z-index: 10; width: 900px; height: 900px; top:90px; background: @c_aqua; border-radius: 50%; position: relative;
      &:before{content: ''; position: absolute; top: 15%; left: 15%; box-shadow: 10px 10px 30px -20px rgba(0, 0, 0, 0.39); width: 70%; height: 70%; background: #fff; border-radius: 50%;}
    }
    span.c2{
      display: block; z-index: 11;
      background: url("/public/img/Misl-min.png") no-repeat;
      background-size: cover;
      width: 900px;
      height: 900px;
      position: absolute;
      top: 20%; right: 20%;
    }
  }
  h2{position: absolute; z-index: 20; top: -20px;}
  .form{
    padding: 20% 0 0 20%;
    .control{
      border: none; color: @c_aqua;
      border-bottom: 1px solid #333;
      height: 110px; box-sizing: border-box;
      width: 100%; font-size: 2em; padding: 10px;
      font-family: FontfabricMuller;
      background: transparent no-repeat center right;
      &.c1{background-image: url("/public/img/email_norm.png");}
      &.c1:hover, &.c1.blue {background-image: url("/public/img/email_activ.png");}
      &.c2{background-image: url("/public/img/user_norm.png");}
      &.c2:hover, &.c2.blue{background-image: url("/public/img/user_activ.png");}
      &.c3{background-image: url("/public/img/phone_norm.png");}
      &.c3:hover, &.c3.blue{background-image: url("/public/img/phone_activ.png");}
      &:focus{outline: none}
    }
    .btn-main{margin-top: 20%; width: 100%; text-align: center; box-sizing: border-box;}
    .comment{
      padding-left: 40px;
      position: relative;
      margin-left: 15%; margin-top: 10%;
      &:before{content: ''; position: absolute; top:-10px; left: 0; width: 30px; height: 40px;
        background-image: url("/public/img/Forma2_4.png");
      }
    }
  }

}

.block10{
  position: relative;
  color: #fff;
  padding: 10% 0;
  margin-bottom: -10%;
  &:before{content: ''; position: absolute; width: 100%; height: 100%; top: -10%; z-index: 11;
    background: url("/public/img/BG_5-min.png") no-repeat;
    background-size: cover;
  }
  &:after{ content: ''; position: absolute; width: 100%; height: 100%;  top: 0%; right: 0;
    background: url(/public/img/Atlant-min.png) top right no-repeat;
    background-size: 50%; z-index: 11;
  }
  .container{position: relative; z-index: 12;}
  .h2{font-size: 1.875em; font-weight: 300; text-transform: uppercase;
    b{color: @c_aqua; font-weight: 900}
  }

  .block{
    padding: 5%;
    background: rgba(0,0,0,0.8); color: #fff;
    .b1{padding-right: 5%;}
    .b2{padding-left: 5%;}
    .txt{font-size: 1.5em;}
    .link{font-size: 1.875em; color: @c_aqua; font-weight: bold; text-decoration: none;}

  }
  .tr{text-align: right;}
  .absline{
    top: 150px; height: 15%;
    .num{top: 100px; padding: 5px 18px;}
    .aa{position: absolute;transform: rotate(-90deg); background: #000000;}
    .a1{
      width: 140px;
      height: 20px;
      top: -80px;
      left: -85px;
      padding: 0 15px;}
    .a0{
      width:130px; height: 130px; max-width: 130px;
      bottom: -200px; left: -65px;
      position: absolute;
    }
  }
}

.js-results{
  text-align: center;
  font-size: 1.5em;
}

.socials{
  a{
    width: 40px; height: 40px; display: inline-block; margin-left: 10px;
    background: url("/public/img/social.png") no-repeat top left;
    &.vk{background-position: -2px -2px;}
    &.vk:hover{background-position: -2px -42px;}
    &.fb{background-position: -56px -2px;}
    &.fb:hover{background-position: -56px -42px;}
    &.tw{background-position: -107px -2px;}
    &.tw:hover{background-position: -107px -42px;}
    &.yb{background-position: -158px -2px;}
    &.yb:hover{background-position: -158px -42px;}
    &.in{background-position: -209px -2px;}
    &.in:hover{background-position: -209px -42px;}

  }
}

.im_table{
  display: table;
  max-width: 96%;
  margin: auto;
  border-collapse: collapse;
  .cell{display: table-cell; width:50%; padding: 0;
    p{position: relative; padding-left: 20px}
    p:before{position: absolute; left: 7px; display: block; top: -5px; font-size: 25px; font-weight: 900; font-family: FontfabricMuller;}
  }
  .cell:first-of-type{
    padding: 5% 0 5% 5%;
    background: rgba(0, 0, 0, 0.7); color: #fff; box-shadow: 0px 0px 20px 0px @c_red;
    p:before{content: '-'; color: @c_red}
    h2 span{color: @c_red}
  }
  .cell:last-of-type{
    padding: 5% 5% 5% 0;
    background: rgba(255, 255, 255, 0.7); box-shadow: 0px 0px 20px 0px @c_aqua;
    p:before{content: '+'; color: @c_aqua}
    h2 span{color: @c_aqua}
  }
  .row{display: table-row;
    &:not(:first-of-type){border-bottom: 1px solid #ccc;}
  }
  .row p{ min-height: 65px; font-size: 1.125em;  padding: 0 30px;
    box-sizing: border-box; margin: 5px;}
  h2{text-align: center; font-size: 1.5em;}
  h2 span{font-weight: bold}

}

.js-slider{position: relative;
  .slick-arrow{position: absolute; top: -30px; background: @c_yellow; width: 40px; height: 30px;
    &:before{content: ''; width: 20px; height: 28px; background-image: url("/public/img/arrows.png");
      position: absolute; top: 1px; left: 10px }
    &:hover:before{ background-position: 20px 0px;}
  }
  .slick-next {right: 0;
    &:before{transform: rotate(180deg)}
  }
  .slick-prev{
    right: 40px; left: auto;
    &:before{}
  }

}

.calc{
  margin-top: 3%;
  border: 20px solid rgba(255, 255, 255, 0.7); color: #fff;

  label{font-size: 1.5em; line-height: 1.6em; display: block;}
  .field{ padding: 5% 9% 0;}
  .control{
    font-family: FontfabricMuller;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 15px 50%;
    text-align: center;
    width: 100%; max-width: 480px;  box-sizing: border-box;
    padding: 5px 10px; border: none; font-size: 1.125em; height: 70px;
    &.c1{background-image: url("/public/img/Forma_1.png");padding-left: 60px;}
    &.c2{background-image: url("/public/img/Forma_2.png");}
    &.c3{background-image: url("/public/img/Forma__3.png");}

  }
  .desc{text-align: center;}
  .desc.error{font-size: 2em; color:red;}
  .right{text-align: right;}
  .result{font-size: 2em; font-weight: 900;}
  .btn-main{width: 100%; text-align: center;box-sizing: border-box; margin-bottom: 15%;}
}

@media (max-width: 1500px){
  .container{margin-left: 160px; width: 80%;}
  .block2 .container{margin-left: 260px;}
}

@media (max-width: 1300px){
  body{font-size: 14px;}
}

@media (max-width: 1100px){
  .container{margin: auto; width: 90%;}
  .absline{display: none;}
  .block2 .container{margin: auto; width: 70%}
  .btn-main{letter-spacing: 0;}
}

@media (max-width: 1600px){

}

@media all and (max-width: 768px) {
  body{font-size: 10px;}
  .col-sm-6{float: none; width: 100%;}
  .navbar-menu{
    .phone{padding-top: 0;}
    .phone +.desc{left: 33%;}
    li>a{padding: 30px;}
  }
  .se-slope{margin: 0;}
  .btn-main{letter-spacing: 0; padding: 25px; width: 100%; box-sizing: border-box; text-align: center;}
  .block1 {
    .btn-main{padding: 25px;}
    padding-bottom: 25%;
    h2{padding-top: 0}
    .david{display: none;}
  }
  .block2{
    .se-slope{transform: none;
      .container{transform: none; margin: auto; width: 90%;}
    }
    .im_table{display: block;
      position: relative;
      .cell{display: block; width: 100%; box-sizing: border-box;}
      .row p{min-height: auto;  padding: 7px 30px;}
    }
  }
  .block3{
    margin-top: 0;
    .calc{
      background: rgba(0,0,0,0.7);
      .control{height: 50px;}
      .btn-main{padding: 15px; letter-spacing: 0; }
      .col-sm-6{width: 50%; float: left}
    }
  }
  .block4{
    .b1{
      h2{position: relative; margin-top: 15%;}
      .circle_big{display: none}
    }
    .circles{padding: 0;}
  }
  .block5 {
    .block > span {
      top: 0;
    }
  }
  .block6{
    .slide .label{width: 44%; height: 90px; background-size: contain;}
    .img{display: none;}
  }
  .block7{
    .item, .item2{margin: 0 0 10px 0;}
  }
  .block8{
    &:before{content: none;}
    .review{width: 50%;}
  }
  .block9{
    padding: 5% 0 15%;
    .b1{
      h2{position: relative; margin-top: 15%;}
      .circle_big{display: none}

    }
    .form{
       padding: 0;
       .control{height: 70px;}
    }
  }
  .block10{
    .block .b2{padding: 0;}
    &:after{content: none}
  }
}

